


    <div class="container">
        <div class="row g-3" >
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://rukminim1.flixcart.com/image/612/612/l2ghgnk0/data-cable/m/c/r/-original-imagdst4ck22m9hy.jpeg?q=70" height="420" width="600" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">Type c cable</h5>
                      <p class="card-text">₹120</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://rukminim1.flixcart.com/image/612/612/xif0q/cases-covers/back-cover/7/r/h/acs04476-spigen-original-imaggcgh9hqpem8v.jpeg?q=70" height="420" width="600" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">Back Cover</h5>
                      <p class="card-text">₹1000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://rukminim1.flixcart.com/image/612/612/kgqvlow0/battery-charger/d/a/7/apple-mhjd3hn-a-original-imafwwwfg5xgcctm.jpeg?q=70" height="420" width="600" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">20W Adapter</h5>
                      <p class="card-text">₹900</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://rukminim1.flixcart.com/image/612/612/kdhphu80/biometric-device/z/g/3/mfs-100-with-rd-mantra-original-imafueyyzdpz5pae.jpeg?q=70" height="420" width="600" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">Payment Device</h5>
                      <p class="card-text">₹1000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://rukminim1.flixcart.com/image/612/612/kgwld3k0/mobile-holder/b/m/w/por-122-modesk-universal-mobile-holder-black-portronics-original-imafxfb2ztabrxqp.jpeg?q=70" height="420" width="600" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">Mobile Holder</h5>
                      <p class="card-text">₹500</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://rukminim1.flixcart.com/image/612/612/kfcv6vk0/power-bank/r/f/5/power-bank-20000-plm18zm-mi-original-imafvtc7x9zgrzbz.jpeg?q=70" height="420" width="600" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">Power Bank</h5>
                      <p class="card-text">₹500</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://rukminim1.flixcart.com/image/612/612/l5h2xe80/battery-charger/u/p/u/-original-imagg5bzwgzpbx6f.jpeg?q=70" height="420" width="600" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">50W Charger</h5>
                      <p class="card-text">₹1200</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://rukminim1.flixcart.com/image/612/612/kltryq80/selfie-stick/o/g/x/selfie-stick-r1-holdup-original-imagyv32qpwkzdqm.jpeg?q=70" height="420" width="600" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">Selfie Stick</h5>
                      <p class="card-text">₹430</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://rukminim1.flixcart.com/image/612/612/l1pc3gw0/screen-guard/edge-to-edge-tempered-glass/z/7/n/aprcf05-colorfly-original-imagd7nqs3fg7esy.jpeg?q=70" height="420" width="600" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">Tempered Glass</h5>
                      <p class="card-text">₹700</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>


