

    <div class="container">
        <div class="row g-3" >
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-14-pro-max-.jpg" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">iPhone 14 pro max</h5>
                      <p class="card-text">₹120000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-14-pro.jpg" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">iPhone 14 pro</h5>
                      <p class="card-text">₹100000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-14-plus.jpg" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">iPhone 14 plus</h5>
                      <p class="card-text">₹90000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-13-pro-max.jpg" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">iPhone 13 Pro Max</h5>
                      <p class="card-text">₹60000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-13-pro.jpg" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">iPhone 13 Pro</h5>
                      <p class="card-text">₹55000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-13.jpg" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">iPhone 13</h5>
                      <p class="card-text">₹50000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-12-pro-max-.jpg" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">iPhone 12 pro</h5>
                      <p class="card-text">₹47000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-12-pro--.jpg" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">iPhone 12</h5>
                      <p class="card-text">₹43000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-3 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                    <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-se-2020.jpg" class="card-img-top" alt="...">
                  
                    <div class="card-body">
                      <h5 class="card-title">iPhone SE</h5>
                      <p class="card-text">₹55000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>


